<template>
  <div class="container">
    <div class="card">
      <div class="card-header mb-3">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">
                  <i class="fa fa-search"></i>
                </span>
              </div>
              <input
                class="form-control"
                type="text"
                v-model="tableConfiguration.searchGlobal"
                placeholder="Global Filter"
                @input="pingServer()"
              />
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">
                  <i class="fa fa-search"></i>
                </span>
              </div>
              <input
                class="form-control"
                type="text"
                v-model="tableConfiguration.searchColumnText"
                placeholder="Column Filter"
                @input="pingServer()"
              />
              <div class="input-group-append">
                <select
                  class="btn btn-outline-secondary dropdown-toggle"
                  v-model="tableConfiguration.searchColumnName"
                  @click="pingServer()"
                >
                  <option v-for="column in columns" :key="column.name">{{column.label}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">
                  <i class="fas fa-sort"></i>
                </span>
              </div>
              <select
                class="btn btn-outline-secondary dropdown-toggle"
                v-model="sortColumn"
                @change="sortBy"
              >
                <option value disabled>Select Column</option>
                <option v-for="column in columns" :key="column.name">{{column.label}}</option>
              </select>
              <div class="input-group-append">
                <select class="btn btn-outline-secondary dropdown-toggle" v-model="sortOrder">
                  <option value="asc">ASC</option>
                  <option value="dec">DEC</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">
                  <i class="fas fa-sort"></i>
                </span>
              </div>
              <select
                v-model="tableConfiguration.defaultLength"
                @change="pingServer()"
                class="custom-select"
              >
                <option
                  v-for="(records, index) in perPage"
                  :key="index"
                  :value="records"
                >{{records}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">
                  <i class="fas fa-hashtag"></i>
                </span>
              </div>
              <select
                v-model="tableConfiguration.specificPage"
                @change="pingServer()"
                class="custom-select"
              >
                <option v-for="page in pagination.lastPage" :key="page">{{ page }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <button class="btn btn-block btn-secondary">Download</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th
                  v-for="column in columns"
                  :key="column.name"
                  :style="'width:'+column.width+';'+'cursor:pointer;'"
                  class="text-center"
                >{{column.label}}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="record in allRecords" :key="record.id">
                <td v-for="column in columns" v-if="column.name != 'action'">{{record[column.name]}}</td>
                <td class="text-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">
                      Edit Record
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" @click="drop(record.id)">
                      Delete Record
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer text-right">
        <pagination
          :pagination="pagination"
          @prev="pingServer(pagination.prevPageUrl)"
          @next="pingServer(pagination.nextPageUrl)"
        ></pagination>
      </div>
    </div>
  </div>
</template>
<script>
import PaginationComponent from "./PaginationComponent.vue";
export default {
  components: { pagination: PaginationComponent },
  data() {
    return {
      allRecords: [],
      sortColumn: this.tableConfiguration.sortColumn,
      sortOrder: this.tableConfiguration.sortOrder
    };
  },
  props: ["tableConfiguration", "pagination", "perPage", "columns", "apiURL"],
  methods: {
    pingServer() {
      var loader = this.$loading.show({
        container: this.fullPage ? null : this.$refs.formContainer,
        canCancel: true,
        onCancel: this.onCancel
      });
      axios
        .get(this.$props.apiURL, { params: this.tableConfiguration })
        .then(response => {
          loader.hide();
          this.allRecords = response.data.data.data;
          this.configPagination(response.data.data);
        })
        .catch(errors => {
          loader.hide();
          console.log(errors);
        });
    },
    configPagination(data) {
      this.pagination.lastPage = data.last_page;
      this.pagination.currentPage = data.current_page;
      this.pagination.total = data.total;
      this.pagination.lastPageUrl = data.last_page_url;
      this.pagination.nextPageUrl = data.next_page_url;
      this.pagination.prevPageUrl = data.prev_page_url;
      this.pagination.from = data.from;
      this.pagination.to = data.to;
    },
    sortBy(event) {
      var key = event.target.value;
      this.tableConfiguration.column = this.getIndex(this.columns, "name", key);
      this.tableConfiguration.direction = this.sortOrder;
      this.pingServer();
    },
    getIndex(array, key, value) {
      return array.findIndex(i => i[key] == value);
    },
    drop(id) {
      var obj = this;
      swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          cancelButtonText: "No, cancel!",
          reverseButtons: true
        })
        .then(result => {
          if (result.value) {
            axios
              .delete(this.$props.apiURL +"/" + id)
              .then(() => {
                this.pingServer();
                this.$toastr.success("Record is successfully deleted");
              })
              .catch(function(error) {
                if (error.response.status === 401) {
                  obj.$toastr.error(
                    "System is unable to authenticate you. Redirecting to login page."
                  );
                  setTimeout(obj.redirect(), 3000);
                } else if (error.response.status === 500) {
                  obj.$toastr.error(
                    "Something went wrong behind the scene. Please try again later."
                  );
                }
              });
          } else if (result.dismiss === swal.DismissReason.cancel) {
            this.$toastr.success("Your record is safe", "Not Deleted");
          }
        });
    }
  },
  created() {
    this.pingServer();
  }
};
</script>