<template>
  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" v-if="pagination.prevPageUrl" @click="$emit('prev');">
          <i class="fas fa-angle-double-left"></i>
        </a>
        <a class="page-link" href="#" v-else :disabled="true">
          <i class="fas fa-angle-double-left"></i>
        </a>
      </li>

      <li class="page-item">
        <a class="page-link" href="#" v-if="pagination.nextPageUrl" @click="$emit('next');">
          <i class="fas fa-angle-double-right"></i>
        </a>
        <a class="page-link" href="#" v-else :disabled="true">
          <i class="fas fa-angle-double-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: ["pagination"]
};
</script>